<div class="news">
    {% for news in list_news %}
        <header>
            <div class="date-news pull-left">
                <div class="mois text-center">{{ news.mois }}</div>
                <div class="jour text-center">{{ news.jour }}</div>
            </div>
            <div>
                <h1 class="titre-news"><a href="/{{ news.type }}/{{ news.titre }}">{{ news.titre }}</a></h1>

                <div class="auteur-news">Par {{ news.auteur }}</div>
            </div>
        </header>
        <a href="/{{ news.type }}/{{ news.titre }}"><img src="{{ news.image }}" class="img-responsive" alt="Responsive image"/></a>
        <p>
            {{ news.contenu }}
        </p>
        {% if list_news|length > 1 %}
            <div style="color : #3a8ac9;font-weight: bold;"><a href="/{{ news.type }}/{{ news.titre }}">Lire la suite</a></div>
            <br>
            <div class="pull-left" style="color: rgb(2, 34, 93);font-weight: bold;">Catégorie :&nbsp;</div><div>Test, Jeux</div>
            <hr>
        {% endif %}
    {% else %}
        <h1>Pas (encore !) de news</h1>
    {% endfor %}
</div>
